.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  background-color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.fullscreen_two {
  background-color: var(--bg4);
}

.fullscreen_three {
  background-color: var(--bg3);
}

.fullscreen_four {
  background-color: var(--bg4);
}

.fullscreen_five {
  background-color: var(--bg3);
}

.fullscreen_six {
  background-color: var(--bg4);
}

.fullscreen_seven {
  background-color: var(--bg3);
}

.fullscreen_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 80%;
  margin: 0px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 913px) {
  .fullscreen_body {
    max-width: 100%;
  }
}